<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create User</title>
</head>
<body>
<h2>Создать нового пользователя</h2>

<form th:action="@{/admin/new}" th:object="${user}" method="post">
    <label>Username:</label>
    <input type="text" th:field="*{username}" required/>
    <br>
    <label>Password:</label>
    <input type="password" th:field="*{password}" required/>
    <br>
    <label>Roles:</label>
    <div th:each="role : ${roleList}">
        <input type="checkbox" name="roles" th:value="${role.role}" th:text="${role.role}" />
    </div>
    <br>
    <button type="submit">Создать</button>
</form>

<p><a th:href="@{/admin}">Вернуться на страницу Админа</a></p>
</body>
</html>